//!  generated automatically!

//!  use:
//!    1. s-home()
//!    2. s-home(r) - resize
//!    3. s-home(p) - change of background position
//!    4. s-home(!important), -home(r, !important)


i-close(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -64px 0px importance
    if r in arg
      width 48px importance
      height 48px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -64px 0px importance
    width 48px importance
    height 48px importance

    @media $m-retina
      background-size 112px 65px
      background-image url('../images/sprite@2x.png')

i-rewards(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px 0px importance
    if r in arg
      width 64px importance
      height 65px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat 0px 0px importance
    width 64px importance
    height 65px importance

    @media $m-retina
      background-size 112px 65px
      background-image url('../images/sprite@2x.png')

