{% extends './tpl/base.twig' %}

{% block title %}UI page{% endblock %}

{% block content %}
  <div class="container ex-section">
    <h2 class="ex-section__head">Headers</h2>
    <section class="ex-section__body">
      <h1>H1. Заголовок</h1>
      <h2>H2. Заголовок</h2>
      <h3>H3. Заголовок</h3>
      <h4>H4. Заголовок</h4>
      <h5>H5. Заголовок</h5>
      <h6>h6. Заголовок</h6>
    </section>
  </div>

  <div class="container ex-section">
    <h2 class="ex-section__head">Text</h2>
    <section class="ex-section__body typography">
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p><mark>Marked text</mark>, <del>Strikethrough text</del>, <u>Underlined text</u>, <small>Small text</small>, <strong>Bold text</strong>, <em>Italic text</em></p>

      <h3>Address</h3>
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>

      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>

      <h3>Blockquote</h3>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </blockquote>
    </section>
  </div>

  <div class="container ex-section">
    <h2 class="ex-section__head">Lists</h2>
    <section class="ex-section__body typography">
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>
          Пункт 3
          <ul>
            <li>Пункт 3.1</li>
            <li>Пункт 3.2</li>
            <li>Пункт 3.3</li>
            <li>Пункт 3.4</li>
            <li>Пункт 3.5</li>
            <li>Пункт 3.6</li>
          </ul>
        </li>
        <li>Пункт 4</li>
        <li>Пункт 5</li>
        <li>Пункт 6</li>
      </ul>

      <ol>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>
          Пункт 3
          {#<ol>#}
            {#<li>Пункт 1</li>#}
            {#<li>Пункт 2</li>#}
            {#<li>Пункт 3</li>#}
            {#<li>Пункт 4</li>#}
            {#<li>Пункт 5</li>#}
            {#<li>Пункт 6</li>#}
          {#</ol>#}
        </li>
        <li>Пункт 4</li>
        <li>Пункт 5</li>
        <li>Пункт 6</li>
      </ol>

      <dl>
        <dt>Description lists</dt>
        <dd>A description list is perfect for defining terms.</dd>
        <dt>Euismod</dt>
        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
        <dt>Malesuada porta</dt>
        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
      </dl>
    </section>
  </div>

  <div class="container ex-section">
    <h2 class="ex-section__head">Tables</h2>
    <section class="ex-section__body typography">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Col 1</th>
            <th>Col 2</th>
            <th>Col 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Val 1</td>
            <td>Val 2</td>
            <td>Val 3</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Val 1</td>
            <td>Val 2</td>
            <td>Val 3</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Val 1</td>
            <td>Val 2</td>
            <td>Val 3</td>
          </tr>
        </tbody>
        <tfoot>
        <tr>
          <td>-</td>
          <td>tfoot</td>
          <td>tfoot</td>
          <td>tfoot</td>
        </tr>
        </tfoot>
      </table>
    </section>
  </div>

  <div class="container ex-section">
    <h2 class="ex-section__head">Form controls</h2>
    <section class="ex-section__body">
      <div class="g-row">
        <div class="g-sm-6">
          <h3 class="ex-section__subtitle">inputs</h3>

          <div class="form__group">
            <label class="form__label">Label for input</label>
            <input type="text" class="form__control" placeholder="text here ..">
            <span class="form_help">help text ..</span>
          </div>

          <div class="form__group">
            <label class="form__label">Input disabled</label>
            <input type="text" class="form__control" placeholder="text here .." disabled>
          </div>

          <div class="form__group">
            <label class="form__label">Select</label>
            <select class="form__control _select">
              <option value="1">option 1</option>
              <option value="2">option 2</option>
              <option value="3">option 3</option>
              <option value="4">option 4</option>
            </select>

          </div>
        </div>

        <div class="g-sm-6">
          <h3 class="ex-section__subtitle">Textarea</h3>

          <div class="form__group">
            <label class="form__label">Textarea</label>
            <textarea rows="5" class="form__control" placeholder="text here .."></textarea>
          </div>
        </div>

        <div class="g-sm-6">
          <h3 class="ex-section__subtitle">Inputs size var 1</h3>
          <p>Присвоение размера контролу</p>

          <div class="form__group">
            <input type="text" class="form__control _xs" placeholder="xs size ..">
          </div>
          <div class="form__group">
            <input type="text" class="form__control _sm" placeholder="sm size ..">
          </div>
          <div class="form__group">
            <input type="text" class="form__control _lg" placeholder="lg size ..">
          </div>
        </div>

        <div class="g-sm-6">
          <h3 class="ex-section__subtitle">Inputs size var 2</h3>
          <p>Присвоение размера группе контролов</p>

          <div class="form__group _xs">
            <input type="text" class="form__control" placeholder="xs size ..">
            <a href="javascript:;" class="btn">Button</a>
          </div>
          <div class="form__group _sm">
            <input type="text" class="form__control" placeholder="sm size ..">
            <a href="javascript:;" class="btn">Button</a>
          </div>
          <div class="form__group _lg">
            <input type="text" class="form__control" placeholder="lg size ..">
            <a href="javascript:;" class="btn">Button</a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="container ex-section">
    <h2 class="ex-section__head">Inline form</h2>
    <section class="ex-section__body">


      <form action="#" class="form form_inline">
        <div class="form__group">
          <label class="form__label hide" for="exampleInput1">Name</label>
          <input type="text" class="form__control" id="exampleInput1" placeholder="Jane Doe">
        </div>
        <div class="form__group">
          <label class="form__label hide" for="exampleInputEmail1">Email</label>
          <input type="email" class="form__control" id="exampleInputEmail1" placeholder="jane.doe@example.com">
        </div>
        <button type="submit" class="btn">Send invitation</button>
      </form>
    </section>
  </div>

  <div class="container ex-section">
    <h2 class="ex-section__head">Horizontal form</h2>
    <section class="ex-section__body">
      <form class="form_horizontal">
        <div class="form__group g-row">
          <label for="inputEmail3" class="g-sm-2 form__label">Email</label>
          <div class="g-sm-10">
            <input type="email" class="form__control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form__group g-row">
          <label for="inputPassword3" class="g-sm-2 form__label">Password</label>
          <div class="g-sm-10">
            <input type="password" class="form__control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="form__group g-row">
          <div class="g-sm-offset-2 g-sm-10">
            <div class="form__checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
        </div>
        <div class="form__group g-row">
          <div class="g-sm-offset-2 g-sm-10">
            <button type="submit" class="btn">Sign in</button>
          </div>
        </div>
      </form>
    </section>
  </div>

  <div class="container ex-section">
    <h2 class="ex-section__head">Singin form</h2>
    <section class="ex-section__body">
      <form class="form_horizontal ex-section__singin">
        <div class="form__group">
          <label class="form__label">Email</label>
          <input type="email" class="form__control" placeholder="Email">
        </div>
        <div class="form__group">
          <label for="inputPassword3" class="form__label">Password</label>
          <input type="password" class="form__control" placeholder="Password">
        </div>
        <div class="form__group">
          <div class="form__checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
        <div class="form__group">
          <button type="submit" class="btn btn_block">Sign in</button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}