{% extends './tpl/base.twig' %}

{% block title %}Index page{% endblock %}

{% block content %}
  <div class="container ex-section">
    <h2 class="ex-section__head">Exapmles</h2>
    <section class="ex-section__body">
      <a href="_ui.html" class="btn">Посмотреть примеры того что есть в шаблоне</a>
    </section>
  </div>
{% endblock %}