// удалить файл с папкой при верстке нового проекта.
body
  margin-bottom 60px

.ex-section__body
  padding 20px
  margin-bottom 20px
  border 1px solid #e5e5e5

.ex-section__head
  margin 40px 0 1px -2px
  text-transform uppercase
  font 700 40px/20px $istok
  color #e5e5e5

  @media $m-only-sm
    font 700 30px/20px $istok
    margin-bottom -2px

  @media $m-only-xs
    font 700 20px/20px $istok
    margin-bottom -5px

  @media $m-only-xxs
    font 700 15px/15px $istok
    margin-bottom -3px

.ex-section__subtitle
  padding-bottom 10px
  margin-top 40px
  border-bottom 1px solid #e5e5e5
  text-transform uppercase
  font 700 14px/20px $istok
  text-transform uppercase

.ex-section__singin
  max-width 240px
  margin auto

.header
  border-bottom 1px solid #e5e5e5

  h1
    text-transform uppercase
    margin 0
    padding 20px 0
    text-align center
    font 700 30px/20px $istok

    @media $m-only-sm
      font-size 20px
      line-height 1.2

    @media $m-only-xs
      font-size 16px
      line-height 1.2

    @media $m-only-xxs
      text-align left
      font-size 16px
      line-height 1.2

.footer
  position absolute
  left 0
  bottom 0
  width 100%
  height 60px
  background #ddd

  .copy
    line-height 20px
    padding 20px 0
    text-align right
    font-size 12px
