.btn
  display inline-block
  button-size($padding-base-ver, $padding-base-hor, $font-size-base, $line-height-base, $btn-border-radius-base)
  margin-bottom 5px
  background-image none
  button-variant($btn-default-color, $btn-default-bg, $btn-default-border)
  border 1px solid transparent
  font-weight $btn-font-weight
  vertical-align middle
  text-align center
  text-transform $btn-font-transform
  white-space nowrap
  touch-action manipulation
  cursor pointer
  user-select none
  transition .1s $ease-in-sine

  &,
  &:active,
  &.active
    &:focus,
    &.focus
      tab-focus()

  &:hover,
  &:focus,
  &.focus
    color $btn-default-color
    text-decoration none
    transition-duration .3s

  &:active,
  &.active
    outline 0
    background-image none
    box-shadow inset 0 3px 5px rgba(0, 0, 0, .125)
    transition-duration .3s

  &.disabled,
  &[disabled],
  fieldset[disabled] &
    cursor default
    opacity .65
    box-shadow none

  a&
    &.disabled,
    fieldset[disabled] &
      pointer-events none


  // size
  &._xs
  .form__group._xs &
    button-size($padding-xs-ver, $padding-xs-hor, $font-size-xs, $line-height-xs, $btn-border-radius-xs)

  &._sm
  .form__group._sm &
    button-size($padding-sm-ver, $padding-sm-hor, $font-size-sm, $line-height-sm, $btn-border-radius-sm)

  &._lg
  .form__group._lg &
    button-size($padding-lg-ver, $padding-lg-hor, $font-size-lg, $line-height-lg, $btn-border-radius-lg)


// Block button
.btn_block
  display block
  width 100%

  & + .btn_block
    margin-top 5px

input[type="submit"],
input[type="reset"],
input[type="button"]
  &.btn_block
    width 100%

.btn-line
  margin-right -5px
  margin-left -5px
  clearinline()

  .btn
    margin-right 5px
    margin-left 5px

  & + .btn-line
    margin-top 10px